es {
    url = "http://localhost:9200"
    user = ""
    pass = ""
}
openSky {
    url = "https://opensky-network.org/api"
}
indices {
    aircraft = "aircraft"
    opensky = "flights"
    flight_tracks = "flight_tracks"
}